.containerinfoprincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.container{
    background-color: #fff;
    height: 100%;
}

.containerinfoprincipal h1{
    font-size: 50px;
    font-weight: 700;
    color: #000;
}