.container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #333333;
    color: #fff;
    margin-bottom: 20px;
    border: 1px solid #d6d6d6;
    padding: 20px;
    box-sizing: border-box;
    width: calc(100%/3 - 20px);
}

.containerinfomain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.containerinfosecond{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    gap: 40px;
}

.container p, h3{
    color: #f5f5f5;
    font-size: 16px;
    text-transform: capitalize;
}

.containerinfomain h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media screen and (max-width: 768px){
    .container{
        width: 100%;
    }
    .containerinfosecond{
        flex-direction: column;
        gap: 20px;
    }
}