.container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #333333;
    color: #fff;
    margin-bottom: 20px;
    border: 1px solid #d6d6d6;
    padding: 20px;
    box-sizing: border-box;
    width: calc(100%/3 - 20px);
    
}

.container:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.containerinfomain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.containerinfosecond{
    padding: 10px;
}

.container p{
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    text-align: left;
}

.containerinfomain h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    color: #000;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media screen and (max-width: 768px){
    .container{
        width: 100%;
    }
    .containerinfosecond{
        flex-direction: column;
        gap: 20px;
    }
}