/* ImageUploader.module.css */
.container {
  border: 2px dashed #ccc;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  cursor: pointer;
}

.imageContainer {
  width: 90%;
  height: 90%;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}