.signUpCointainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.logo{
  width: 200px;
  height: 200px;
  margin: 0 0 30px 0;
}

.opciones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  width: fit-content;
  height: auto;
}

@media screen and (max-width: 768px) {
  .opciones {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
  

