.homeContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
}

.homeContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.topcontent img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.button{
    margin-left: auto;
    width: 20%;
    margin-right: 20px;
}

.image h1{
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #a08ae5;
    margin: 20px 0;
}

.image{
    width: 100%;
}

.topcontent{
    display: flex;
    gap: 20px;
    background-color: #fff;
    align-items: center;
    width: 100%;
}

.image img{
    width: 100%;
    max-height: 800px;
    object-fit: cover;
}

.info{
    display: flex;
    gap : 20px;
    padding: 20px;
    background-color: transparent;
}

.infobutton{
    width: 800px;
}

.button{
    display: flex;
    gap : 20px;
    justify-content: space-around;
    height: 60px;
    background-color: transparent;
}

span.text{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}


@media (max-width: 767px) {
    .homeContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
    }

    .button{
        width: 50%;
    }


    .image img{
        max-height: 100%; 
    }

    .info{
        flex-direction: column; 
    }

    .image h1{
        font-size: 40px;
    }

}