.mainContainer {
  width: 100%;
  height: 100%;
}

.infoProfileContainer {
  width: 100%;
  height: 40%;
}

.postulationContainer {
  width: 100%;
  height: 60%;
}

.offersContainer {
  padding: 0 20px;
  height: 50%;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title {
  color: #333;
  text-align: center;
  margin: 0 0 60px 0;
}