.infocontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    align-content: center;
}

@media (max-width: 767px) {
    .infocontainer h1{
        font-size: 20px;
    }
}
