.logoheader{
  width: 80px;
  height: 80px;
  padding: 0;
}

.headercontainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  gap: 40px;
  align-items: center;
}

.actionlinks {
  display: flex;
  gap: 20px;
  align-items: center;
}

.actions a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.actions a:hover {
  color: #a08ae5;
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

.welcome {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}

button.buttonlogo{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

button.buttonlogo:hover{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.buttonlogo:focus{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 100px;
  background-color: #ffffff;
  position: relative;
}


.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

.buttonLogoutMobile{
  display: flex;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }

  .actions{
    flex-direction: column;
    gap: 80px;
  }
  .buttonLogout{
    display: none;
  }

}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .actionlinks {
    flex-direction: column;
    position: static;
    gap:40px;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 80px;
    background-color: #ffffff;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 100%;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}