.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 80px;
}

.logo{
  width: 80px;
  height: 80px;
}

.headercontainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  gap: 40px;
}

.actions a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

.actions a:hover {
  color: #a08ae5;
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

.welcome {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}

button.buttonlogo{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.buttonlogo:hover{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.buttonlogo:focus{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}