#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
}
