.container{
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    position: relative;
}

.buttonlogin {
    color: #a08ae5;
    border: 2px solid #a08ae5;
    padding: 10px 20px;
    border-radius: 10px;
}

a.buttonlogin {
    color: #a08ae5 !important;
}

.navelements{
    margin-left: auto;
    margin-right: 20px;
}

.menuicon {
    display: none;
  }

.actionlinks {
    display: flex;
    gap: 40px;
    align-items: center;
}


@media (max-width: 600px){

.actionlinks {
    flex-direction: column;
    position: static;
    gap: 40px;
    margin-top: 40px;
}

.menuicon {
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
}

.navelements {
    position: absolute;
    right: 0;
    top: 90px;
    background-color: #ffffff;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    margin: 0;
}

.navelements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  
  .navelements ul li:not(:last-child) {
    margin-right: 60px;
  }
  
  .navelements ul a {
    font-size: 16px;
    font-weight: 400;
    color: #2f234f;
    text-decoration: none;
  }
  
  .navelements ul a.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;
  }
  
  .navelements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #574c4c;
  }

  .navelements.active {
    width: 100%;
    overflow-y: hidden;
    height: calc(100vh - 100px);
  }

  .navelements ul {
    display: flex;
    flex-direction: column;
  }

  .navelements ul li {
    margin-right: unset;
    margin-top: 22px;
  }

}