.containerinfoprincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;
    margin-top: 20px;
    padding: 10px;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 768px){
    .containerinfoprincipal{
        justify-content: center;
    }
}